@font-face{
    font-family: "Ma Super Font";
    src: url('../font/Paladise.ttf');
}

#corps{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../img/mur-de-pierre-moderne.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    font-family: "Ma Super Font";
    width: 100vw;
    height: 55vw;
}
.info{
    
    background: black;
    color: white;
    width: 40vw;
    height: 25vw;
}
.prix{
    
    background: #0e0c0d7e;
    color: white;
    width: 40vw;
    height: 25vw;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
#taille{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vw;
}
#taille img{
    
    width: 20vw;
}.s{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

