@font-face{
    font-family: "Ma Super Font";
    src: url('../font/Paladise.ttf');
}

#corps{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(../img/mur-de-pierre-moderne.png);
    background-repeat: no-repeat;
    background-size: 100vw;
    font-family: "Ma Super Font";
    width: 100vw;
    height: 55vw;
}
.livraison{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    font-size: 2em;
    width: 35vw;
    height: 30vw;
}

.adresse{
    width: 20vw;
    height: 6vw;
}
.heure{
    margin-top: 2vw;
    width: 20vw;
    height: 3vw;
}
.view{
    width: 9.6vw;
}
.retrait{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
    font-size: 2em;
    width: 35vw;
    height: 20vw;
}
.valider{
    margin-top: 2vw;
}
.date{
    margin-top: 1vw;
}
.hour{
    margin-top: 1vw;
}
